// app global css in SCSS form
.text-telegram {
  color: #0088cc !important;
}

.bg-telegram {
  background: #0088cc !important;
}

.text-primary-dark {
  background: rgba(173, 0, 119, 1) !important;
}

.bg-primary-dark {
  background: rgba(173, 0, 119, 1) !important;

}

.text-smaller {
  font-size: 0.8em;
}
